!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
  body
    div
      strong JetRunner URL:
      pre(style="white-space:normal;border:solid 1px #ccc;background:#ebebeb;padding:20px;")
        script
          document.write(decodeURIComponent(location));
    div#jetrunner-stream-debug
    script
      if(#{DEBUG}) {
        this.onerror = function(err, url, line) {
          document.getElementById('jetrunner-stream-debug').innerHTML += '<p>' + [err, '[' + decodeURIComponent(url) + ':' + line + ']'].join(' ') + '</p>';
        }
      }
    div#mocha
    each script in scripts
      script(src="#{script}")
    script
      //this.assert = this.chai.assert;
      //this.expect = this.chai.expect;
      this.mocha.ignoreLeaks();
      this.mocha.ui();
    if src
        script(src="#{src}")
    script(src="#{test}")
    script
      this.reporter = (this.mochaPhantomJS || this.mocha).run(function() {
        var reporter = self.reporter || self.mocha;

        try {
            self.jetstream = [reporter.stats.failures, reporter.stats.passes, reporter.stats.tests, reporter.stats.duration];
        } catch(e) {
            self.jetstream = null;
        }
      });

