!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
  body
    div#mocha
    each script in scripts
      script(src="#{script}")
    script
      assert = chai.assert;
      expect = chai.expect;
      mocha.setup({
        ignoreLeaks: true,
        //reporter: '#{reporter}',
        ui: '#{ui}'
      });
    if src
        script(src="#{src}")
    script(src="#{test}")
    script
      // Run Mocha:
      reporter = (this.mochaPhantomJS || mocha).run(function() {
        // JetRunner remote reporting integration (via SauceLabs, BrowserStack, etc.):
        jetrunner = [reporter.stats.failures, reporter.stats.passes, reporter.stats.tests, reporter.stats.duration];
      });

