!!! 5
html(lang="en")
  head
    title= title
    each style in styles
      link(href="#{style}", rel="stylesheet")
    script
      espressoConfig = {
          loader: {
              libPath: '/build/lib'
          }
      }
  body
    div#mocha
    each script in scripts
      script(src="#{script}")
    script
      assert = chai.assert;
      expect = chai.expect;
      should = !this.mochaPhantomJS && chai.should();
      mocha.setup({
        ignoreLeaks: true,
        //reporter: '#{reporter}',
        ui: '#{ui}'
      });
    if lib
        script(src="#{lib}")
    script(src="#{test}")
    script
      reporter = (this.mochaPhantomJS || mocha).run();